<div class="container pt-5">
    <p class="lead titulo text-center">Agenda Tus Citas</p>
    <form class="row g-3 " [formGroup]="form" (ngSubmit)="actualizarForm(form.value)">
        <div class="col-md-8">
            <label for="FormControlTextarea1" class="form-label" >Motivo: </label>
            <textarea class="form-control border-info" formControlName="motivo" id="FormControlTextarea1" rows="3"></textarea>
        </div>

        <div class="col-md-5">
            <label for="inputState" class="form-label" >Paciente (Mascota):</label>
            <select id="inputState" formControlName="mascota_id" class="form-select border-info">
                <ng-container *ngFor="let mascota of mascotasU">
                    <option [value]="mascota.id_mascota">{{ mascota.nombre }}</option>    
                </ng-container>
                
                
            </select>
        </div>
        <div class="col-md-5">
            <label for="inputState" class="form-label">Agenda</label>
            <select id="inputState" formControlName="nombre" class="form-select border-info">
                <option [value]="agenda.id_agenda">{{ agenda.nombre }}</option>
            </select>
        </div>

        <div class="col-md-5">
            <label for="inputState" class="form-label">Tipo Cita</label>
            <select id="inputState"  formControlName="tipo_cita_id" class="form-select border-info">
                <ng-container *ngFor="let tipo of tipo_citas">
                    <option [value]="tipo.tipo_cita">{{ tipo.nombre | uppercase }} {{ tipo.precio | titlecase }}</option>
                </ng-container>
            </select>
        </div>

        <div class="col-md-10">
            <h1>FECHA: {{ agenda.fecha_inicio | date:"short" }}</h1>
        </div>

        <div class="col-12">
            <button type="submit" [disabled]="form.invalid" class="btn btn-info">Agendar</button>
        </div>
    </form>
</div>
<div class="pt-4"></div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>