<!--vista del veterinario-->
<h1 class="titulo">Mis Agendas</h1>
<div class="container">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha Inicio</th>
                <th scope="col">Fecha Final</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let agenda of agendas'>
                <th>{{ agenda.nombre }}</th>
                <td>{{ agenda.fecha_inicio | date:"short" }}</td>
                <td>{{ agenda.fecha_final | date:"short" }}</td>
            </tr>
    </table>
</div>