
      <div class="registro col-lg col-md mb-4"> 
            <form class="form-center">
               <h1 class="h3 mb-4 font-weight-normal text-center">REGISTRO</h1>
               <input type="text" id="inputName" class="form-control" placeholder="Nombre Completo" required autofocus>
               <input type="text" id="inputNumber" class="form-control" placeholder="Número de teléfono" required autofocus>
              <input type="email" id="inputEmail" class="form-control" placeholder="Correo electrónico" required autofocus>
              <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
              <input type="text" id="inputAdress" class="form-control" placeholder="Dirección" required autofocus>

              <div class="checkbox mb-3">

              </div>
              <div class="col text-center">
              <a href="citas" class="btn btn-lg btn-success btn-responsive text-center" type="submit">Completo</a>
            </div>
            </form>
          </div>

  



  
  

 
  