
<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-md-5">
              <h1 style="font-style: italic;" class="titulo">Veterinaria Conectada</h1>
              <div class="row">
                  <div class="col-6">
                      <ul class="list-unstyled">
                          <li><a href="">Dirección: La Patria M 8 # 34</a></li>

                      </ul>
                  </div>

              </div>
      
          </div>
          <div class="col-md-2">
              <h5 class="text-md-right titulo">Consúltanos</h5>
              <hr>
          </div>
          <div class="col-md-5">
              <form>
                  <fieldset class="form-group">
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingresa correo electrónico">
                  </fieldset>
                  <fieldset class="form-group mt-3">
                      <textarea class="form-control" id="exampleMessage" placeholder="Consulta"></textarea>
                  </fieldset>
                  <fieldset class="form-group text-xs-right mt-3">
                      <button type="button" class="btn btn-lg btn-primary btn-block titulo">Enviar Consulta</button>
                  </fieldset>
              </form>
          </div>
      </div>
  </div>
</footer>
