<h1 class="titulo">Citas Pendientes</h1>
<div class="container">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Dueño</th>
                <th scope="col">Mascota</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let agenda of agendasPendientes">
                <th>{{ agenda.nombre }}</th>
                <td>{{ agenda.usuario.nombre }} </td>
                <td>{{ agenda.mascota.nombre }}</td>
                <td>{{ agenda.fecha_inicio }}</td>
            </tr>
    </table>
</div>