
<div class="container pt-4">
    <div *ngIf="agendas.length === 0" class="card p-2">
        <h6>No hay citas agendadas aún</h6>
    </div>
    <table class="table table-hover">
        <thead>
            <tr class="table-info">
                <th scope="col">Fecha</th>
                <th scope="col">Mi mascota</th>
                <th scope="col">Veterinario</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let agenda of agendas">
                <td>{{ agenda.fecha_inicio | date:"short" }}</td>
                <td>{{ agenda.mascota.nombre }}</td>
                <td>{{ agenda.veterinario.nombre }} {{ agenda.veterinario.apellido }}</td>
                <td>{{ (agenda.eliminado == null) ? 'Pendiente' : 'Agendada' }}</td>
            </tr>
        </tbody>
    </table>
</div>