<div class="container">
    <p class="lead titulo">Veterinarios</p>
    <div class="row row-cols-1 row-cols-md-3 g-4  pt-3">
        <tr *ngFor="let veterinario of veterinarios">
            <th>
        <div class="col">
            <div class="card  border-info" style="width: 18rem;">
                <li class="list-group-item  border-info">VETERINARIO: {{ veterinario.nombre }} {{ veterinario.apellido }}</li>
                <img src="http://localhost:5000/usuario/mostrar_foto/{{veterinario.id}}" class="card-img-top" alt="...">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item  border-info">E-MAIL: {{ veterinario.email }} </li>
                </ul>
            </div>
        </div>
    </th>
    </tr>
    </div>
</div>

<div class="pt-5"></div>