
<div class="container pt-2" >
    <tr >
        <th >
    <p class="lead titulo">Mis Mascotas</p>
    <div class="row row-cols-1 row-cols-md-3 g-4 ">
        <div class="col">
            <div class="card border-info" style="width: 18rem;">

                <li class="list-group-item border-info titulo" >Nombre Mascota:</li>
                <img src="../../../assets/img/logo.png" class="card-img-top" alt="...">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item border-info">Edad:</li>
                    <li class="list-group-item border-info">Raza:</li>
                </ul>
            </div>
        </div>

</div> 
</th>
</tr>
</div>


<div class="container pt-5">
    <p class="lead titulo text-center">Registrar Nueva Mascota</p>
    <form class="row g-3 ">
        <div class="col-md-6">
            <label for="inputNombr3" class="form-label">Nombre:</label>
            <input type="text" class="form-control border-info" id="inputNombr3" placeholder="Nombre">
        </div>
        <div class="col-md-6">
            <label for="inputEdd4" class="form-label">Edad (Meses):</label>
            <input type="number" class="form-control border-info" id="inputEdd4" placeholder="Meses">
        </div>
        <div class="col-md-6">
            <label for="inputAddress" class="form-label">Peso (Kg):</label>
            <input type="number" class="form-control border-info" id="inputAddress" placeholder="Kg">
        </div>
        <div class="col-md-6">
            <label for="inputAddress2" class="form-label">Raza:</label>
            <input type="text" class="form-control border-info" id="inputAddress2" placeholder="Raza">
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">Genero:</label>
            <select id="inputState" class="form-select border-info">
                <option selected>Genero</option>
                <option value="1">1.Macho</option>
                <option value="2">2.Hembra</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">Tipo Mascota</label>
            <select id="inputState" class="form-select border-info">
                <option selected>Tipo Mascota</option>
                <option value="1">1.Perro</option>
                <option value="2">2.Gato</option>
                <option value="3">3.Conejo</option>
                <option value="4">4.Aves</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">Estado de Salud</label>
            <select id="inputState" class="form-select border-info">
                <option selected>Estado de Salud</option>
                <option value="1">Bien</option>
                <option value="2">Mal</option>
            </select>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-info">Registrar</button>
        </div>
    </form>
</div>
<br>
<br>
<br>

