
<div class="container pt-2" >
    
    <p class="lead titulo">Mis Mascotas</p>
    <div class="row row-cols-1 row-cols-md-3 g-4 ">
        <tr *ngFor='let mascota of mascotas'>
        <div class="col">
            <div class="card border-info" style="width: 18rem;">

                <li class="list-group-item border-info titulo">Nombre Mascota: {{ mascota.nombre }}</li>
                <img src="../../../assets/img/logo.png" class="card-img-top" alt="...">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item border-info">Edad: {{ mascota.edad }}</li>
                    <li class="list-group-item border-info">Raza: {{ mascota.raza }}</li>
                    <li class="list-group-item border-info">Género: {{ (mascota.genero == 'H') ? 'Hembra' : 'Macho' }}</li>
                    <li class="list-group-item border-info">Tipo: {{ mascota.tipo_mascota.tipo_mascota }}</li>
                    <li class="list-group-item border-info">Estado: {{ mascota.estado_salud }}</li>
                </ul>
            </div>
        </div>
</tr>
</div> 

</div>


<div class="container pt-5" [formGroup]="form">
    <p class="lead titulo text-center">Registrar Nueva Mascota</p>
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputNombr3" class="form-label">Nombre:</label>
            <input type="text" class="form-control border-info" id="inputNombr3" formControlName="nombre" placeholder="">
        </div>
        <div class="col-md-6">
            <label for="inputEdd4" class="form-label">Edad:</label>
            <input type="text" class="form-control border-info" id="inputEdd4" formControlName="edad" placeholder="">
        </div>
        <div class="col-md-6">
            <label for="inputAddress" class="form-label">Peso:</label>
            <input type="text" class="form-control border-info" id="inputAddress" formControlName="peso" placeholder="">
        </div>
        <div class="col-md-6">
            <label for="inputAddress2" class="form-label">Raza:</label>
            <input type="text" class="form-control border-info" id="inputAddress2" formControlName="raza" placeholder="">
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">Género:</label>
            <select formControlName="genero" class="form-select border-info">
                <option>M</option>
                <option>H</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">Tipo Mascota. 1.Perro - 2.Gato</label>
            <select id="inputState" formControlName="tipo_mascota_id" class="form-select border-info">
                <option [selected]>Mascota</option>
                <ng-container *ngFor="let tipo of tipo_mascotaI">
                    <option [value]="id_tipo_mascota">{{ tipo.id_tipo_mascota }}</option>
                </ng-container>
                
                
            </select>
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">Estado de Salud</label>
            <select formControlName="estado_salud" class="form-select border-info">
                <option>Saludable</option>
                <option>Enfermo</option>
            </select>
        </div>

        <div class="col-12">
            <button type="submit" (click)="submit()" class="btn btn-info">Registrar</button>
        </div>
    </form>
</div>
<br>
<br>
<br>

