
<div class="container pt-2" >
    <div *ngIf="mascotas.length === 0" class="card p-2">
        <h6>No hay mascotas para mostrar. ¡Crea tu mascota!</h6>
    </div>
    <p class="lead titulo">Mis Mascotas</p>
    <div class="row row-cols-1 row-cols-md-3 g-4 ">
        <tr *ngFor='let mascota of mascotas'>
        <div class="col">
            <div class="card border-info" style="width: 18rem;">

                <li class="list-group-item border-info titulo">{{ mascota.nombre | uppercase }}</li>
                <img src="http://localhost:5000/mascota/mostrar_foto_mascota/{{mascota.id_mascota}}" class="card-img-top" alt="...">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center"><button (click)="detalles(mascota.id_mascota)" type="button" class="btn btn-info">Detalles</button></li>
                </ul>
            </div>
        </div>
</tr>
</div> 

</div>

<div class="container pt-5">
    <p><button type="button" class="btn btn-info btn-lg titulo text-center" data-bs-toggle="modal" data-bs-target="#exampleModalC">Registrar Mascota</button></p>
</div>

<div class="modal fade" id="exampleModalC" tabindex="-1" aria-labelledby="exampleModalCLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCLabel">Registrar</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

    <div class="modal-body">
<div class="container pt-5" >
    <p class="lead titulo text-center">Registrar Nueva Mascota</p>
    <form class="row g-3" [formGroup]="form" (ngSubmit)="submit()">
        <div class="col-md-6">
            <label for="inputNombr3" class="form-label">Nombre:</label>
            <input type="text" class="form-control border-info" id="inputNombr3" formControlName="nombre" placeholder="">
        </div>
        <div class="col-md-6">
            <label for="inputEdd4" class="form-label">Edad:</label>
            <input type="text" class="form-control border-info" id="inputEdd4" formControlName="edad" placeholder="">
        </div>
        <div class="col-md-6">
            <label for="inputAddress" class="form-label">Peso:</label>
            <input type="text" class="form-control border-info" id="inputAddress" formControlName="peso" placeholder="">
        </div>
        <div class="col-md-6">
            <label for="inputAddress2" class="form-label">Raza:</label>
            <input type="text" class="form-control border-info" id="inputAddress2" formControlName="raza" placeholder="">
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">Género:</label>
            <select formControlName="genero" class="form-select border-info">
                <option>M</option>
                <option>H</option>
            </select>
        </div>

        <div class="col-md-4">
            <label for="inputState" class="form-label">Tipo Mascota</label>
            <select id="inputState" class="form-control" formControlName="tipo_mascota" class="form-select border-info">
                    <option>Perro</option>
                    <option>Gato</option>
                    <option>Ave</option>
                    <option>Conejo</option>             
            </select>
        </div>

        <div class="col-md-4">
            <label for="inputState" class="form-label">Estado de Salud</label>
            <select formControlName="estado_salud" class="form-select border-info">
                <option>Saludable</option>
                <option>Enfermo</option>
            </select>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" [disabled]="form.invalid" class="btn btn-info">Registrar</button>
        </div>
    </form>
</div>
</div>

</div>
</div>

