<app-navbar></app-navbar>
<!--PRIMER PRODUCTO-->

<!--PRIMER PRODUCTO-->
<div class="container">
    <div class="row">
        <div class="productos">
            <figure>
                <img src="https://i.pinimg.com/originals/ab/a8/84/aba884623202134a0e1a2ff5cf7183d1.jpg" alt="">
            </figure>

            <div class="informacion">
                <h1>TRIXIE</h1>
                <p class="info">Cueva Suave Noelia 38x35x38 cm</p>
            </div>
            <div class="precio text-center">
                <div class="box-precio">
                    <span class="precioCancelado">$227.000</span>
                </div>
                <a href="productos" class="btn btn-lg btn-info btn-responsive btninter right">COMPRAR</a>
            </div>
        </div>

        <!--SEGUNDO PRODUCTO-->
        <div class="productos">
            <figure>
                <img src="https://images-na.ssl-images-amazon.com/images/I/61MUlkgnxmL._AC_SX522_.jpg" alt="">
            </figure>


            <div class="informacion">
                <h1>PEDIGREE</h1>
                <p class="info">Dentastix Uso Diario Limpieza Dental Medianos 28 Barritas</p>
            </div>
            <div class="precio text-center">
                <div class="box-precio">
                    <span class="precioCancelado">$55.983</span>
                </div>
                <a href="productos" class="btn btn-lg btn-info btn-responsive btninter right">COMPRAR</a>
            </div>
        </div>
        <!--TERCER PRODUCTO-->
        <div class="productos">
            <figure>
                <img src="https://http2.mlstatic.com/D_NQ_NP_977832-MCO29195208670_012019-O.webp" alt="">
            </figure>

            <div class="informacion">
                <h1>CATIT</h1>
                <p class="info">Casita Tammo para Pequeños gatos</p>
            </div>
            <div class="precio text-center">
                <div class="box-precio">
                    <span class="precioCancelado">$86.151</span>
                </div>
                <a href="productos" class="btn btn-lg btn-info btn-responsive btninter right">COMPRAR</a>
            </div>
        </div>

        <!--CUARTO PRODUCTO-->
        <div class="productos ">
            <figure>
                <img src="https://m.media-amazon.com/images/I/41JWpj133IL.jpg" alt="">
            </figure>

            <div class="informacion">
                <h1>PERSLO</h1>
                <p class="info">Casa para perro pequeño</p>
            </div>
            <div class="precio text-center">
                <div class="box-precio">
                    <span class="precioCancelado">$342.151</span>
                </div>
                <a href="productos" class="btn btn-lg btn-info btn-responsive btninter right">COMPRAR</a>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>
