<div class="container pt-5">
    <p class="lead titulo text-center">Historia Clinica</p>
    <form class="row g-3 ">
        <div class="col-md-8">
            <label for="FormControlTextarea1" class="form-label">Observacion:</label>
            <textarea class="form-control border-info" id="FormControlTextarea1" rows="3" ></textarea>
        </div>

        <div class="col-md-5">
            <label for="inputdate" class="form-label">Fecha:</label>
            <input type="date" class="form-control border-info" id="inputdate">
        </div>

        <div class="col-md-5">
            <label for="inputTipoC" class="form-label">Tipo Cita</label>
            <input type="text"class="form-control border-info" id="inputTipoC"/>
        </div>
        
        <div class="col-md-5">
            <label for="inputState" class="form-label">Paciente (Mascota):</label>
            <select id="inputState" class="form-select border-info">
                <option selected>Mascota</option>
                <option value="1">muestra Mascotas</option>
            </select>
        </div>
        
        <div class="col-md-5">
            <label for="inputVete" class="form-label">Veterinario</label>
            <input type="text"class="form-control border-info" id="inputVete"/>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-info">Crear</button>
        </div>
    </form>
</div>
<div class="pt-4"></div>