<form [formGroup]="form">
  <section class="form-register">
    <h4>Iniciar Sesión</h4>
    
    <input formControlName="Email" class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
    <input formControlName="password" class="controls" type="password" name="password" id="password" placeholder="Ingrese su Contraseña">
    <input type="checkbox" name="recordar" value="Sí">Recordar cuenta
    <button (click)="submit(7)" class="botons">INICIAR</button>
    <p><a>¿No tienes una cuenta?</a></p>
  </section>
</form>