<div class="container pt-5">
    <p class="lead titulo text-center">Historia Clinica</p>
    <form class="row g-3" [formGroup]="form">
        <tr>
        <div class="col-md-5">
            <label for="inputState" class="form-label" >Dueño: </label>
            <select id="inputState" formControlName="usuario_id" class="form-select border-info">
                <option [value]="agenda.usuario.nombre">{{ agenda.usuario.nombre }} {{ agenda.usuario.apellido }}</option>
            </select>
        </div>

        <div class="col-md-5">
            <label for="inputVete" class="form-label" >Email</label>
            <select id="inputState" formControlName="email" class="form-select border-info">
                <option [value]="agenda.usuario.email"> {{ agenda.usuario.email }} </option>
            </select>
        </div>
        
        <div class="col-md-5">
            <label for="inputState" class="form-label" >Paciente (Mascota):</label>
            <select id="inputState" formControlName="mascota_id" class="form-select border-info">
                <option [value]="agenda.mascota.nombre"> {{ agenda.mascota.nombre }} </option>
            </select>
        </div>
        
        <div class="col-md-5">
            <label for="inputVete" class="form-label" >Veterinario</label>
            <select id="inputState" formControlName="veterinario_id" class="form-select border-info">
                <option [value]="agenda.veterinario.nombre"> {{ agenda.veterinario.nombre }}  {{ agenda.veterinario.apellido }}</option>
            </select>
        </div>
    </tr>
        <tr>
        <div class="col-md-8">
            <label for="FormControlTextarea1"  class="form-label">Observacion:</label>
            <textarea class="form-control border-info" formControlName="observacion" id="FormControlTextarea1" rows="3" ></textarea>
        </div>

        <div class="col-md-5">
            <label for="inputdate" class="form-label" >Fecha:</label>
            <input type="date" formControlName="fecha" class="form-control border-info" id="inputdate">
        </div>

        <div class="col-md-5">
            <label for="inputState" class="form-label">Tipo Cita</label>
            <select id="inputState"  formControlName="tipo_cita_id" class="form-select border-info">
                <ng-container *ngFor="let tipo of tipo_citas">
                    <option [value]="tipo.nombre">{{ tipo.nombre | uppercase }} {{ tipo.precio | titlecase }}</option>
                </ng-container>
            </select>
        </div>


        <div class="col-md-5">
            <label for="inputVete" class="form-label" >Medicamentos</label>
            <input type="text" formControlName="medicamentos" class="form-control border-info" id="inputVete"/>
        </div>
        <br><br>
        <div class="col-md-5">
            <button type="submit" (click)="submit()" class="btn btn-primary">Crear</button>
        </div>
    </tr>
    </form>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>