<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="file" (change)="upload($event)">
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>

    <div>
      <img [src]=this.imagen alt="">
    </div>
  </form>


  <div class="container-lg pt-3">
    <div class="row g-0 bg-light position-relative">
    <div class="col-sm-8  p-3 ">
      <h4 class="mt-0 text-center">Sobre Mi</h4>

          <p>Nombre: {{ veterinario.nombre }}</p>
          <p>Apellido: {{ veterinario.apellido }}</p>
          <p>Direccion: {{ veterinario.direccion }}</p>
          <p>Celular: {{ veterinario.celular }}</p>
          <p>Correo: {{ veterinario.email }}</p>


    </div>
  </div>

  </div>
