<!--esta vista es usada para el contenido mi agenda veterinario -->

<div class="container pt-5">
  <p><button type="button" class="btn btn-info btn-lg titulo text-center" data-bs-toggle="modal" data-bs-target="#exampleModalC">Agendarme</button></p>
</div>  
<div class="modal fade" id="exampleModalC" tabindex="-1" aria-labelledby="exampleModalCLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCLabel">Agendarme</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
<div class="container">
<form [formGroup]="form">
  <div class="col-md-5">
    <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
  </div>
<br>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <label for="floatingInputValue">Fecha Y Hora de Inicio</label>
        <input type="datetime-local" class="form-control" formControlName="fecha_inicio" id="floatingInputValue" value="">
      </div>
    
      <div class="col-md-6">
          <label for="floatingInputValue">Fecha Y Hora de Final</label>
          <input type="datetime-local" class="form-control" formControlName="fecha_final" id="floatingInputValue" value="">
      </div>
    </div>
  </div>

</form>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
    <button class="btn btn-outline-info" (click)="submit()" type="submit">Crear Espacio</button>
  </div>
</div>
</div>

<br>
<br>