<!--esta vista es usada para el contenido mi agenda veterinario -->

<h1 class="titulo">Mis Agenda</h1>
<div class="container">
  <form class="form-floating">
    <input type="datetime-local" class="form-control" id="floatingInputValue" value="">
    <label for="floatingInputValue">Fecha Y Hora de Inicio</label>
  </form>
  <div class="pt-3">
    <form class="form-floating">
      <input type="datetime-local" class="form-control" id="floatingInputValue" value="">
      <label for="floatingInputValue">Fecha Y Hora de Final</label>
    </form>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto pt-3">
    <button class="btn btn-outline-info" type="button">Crear Espacio</button>
  </div>
</div>

<br>
<br>