<form [formGroup]="form">
  <section class="form-register">
    <h4 class="titulo text-center">Iniciar Sesión</h4>
    <div>
      <!--Validaciones del LOGIN-->

      <!--E-mail-->
      <span 
      class="text-danger" *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">El e-mail <strong>es requerido</strong>
      </span>
      <br>
      <span 
      class="text-danger" *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">El e-mail <strong>es inválido</strong>
    </span>
    <input formControlName="email" class="controls" type="email" name="email" id="email" placeholder="E-mail" required>
    </div>

    <!--Password-->
    <div>
      <span class="text-danger" *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched">La contraseña <strong>es requerida</strong>
    </span>
    <input formControlName="password" class="controls" type="password" name="password"  placeholder="Contraseña">
    </div>
    <!--<input type="checkbox" name="recordar" value="Sí"> Recuérdame-->

    <!--Inactividad de botón mientras el usuario no registre el formulario-->
    <button (click)="submit()" [disabled]="form.invalid" type="submit" class="botons titulo" name="password" >INICIAR</button>
    <p><a routerLink='/registro'>¿No tienes una cuenta?</a></p>
    <p><a routerLink='/info'>Sobre nosotros</a></p>
  </section>
</form>
