<app-navbar-usuario></app-navbar-usuario>
<div class="pt-2"></div>
<div class="header">
  <div>

    <img src="http://localhost:5000/usuario/mostrar_foto/{{veterinario.id}}" 
      class="avatar" style="width: 18rem" />
    
  </div>

  <h2 class="titulo tit"> {{ veterinario.nombre }} {{ veterinario.apellido }}</h2>
</div>


<div class="container-lg pt-3">
  <div class="bg-light dts">

      <p class="h4 titulo"><strong>Direccion: </strong> {{ veterinario.direccion }} </p>
      <p class="h4 titulo"><strong>Celular: </strong>{{ veterinario.celular }} </p>
      <p class="h4 titulo"><strong>Correo: </strong>{{ veterinario.email }} </p>

  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>




