<div class="container">
    <form>
        <div class="form-group">
            <label for="disabledTextInput">Nombre:</label>
            <input type="nombre" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="nombreHelp" class="form-text text-muted"></small>
        </div> <br>
        <div class="form-group">
            <label for="exampleInputApellido1">Apellido:</label>
            <input type="Apelllido" class="form-control" id="exampleInputApellido1">
        </div> <br>
        <div class="form-group">
            <label for="exampleInputCiudad1">Ciudad:</label>
            <input type="Ciudad" class="form-control" id="exampleInputCiudad1">
        </div> <br>
        <div class="form-group">
            <label for="exampleInputDireccion1">Direccion:</label>
            <input type="Direccion" class="form-control" id="exampleInputDireccion1">
        </div> <br>
        <div class="form-group">
            <label for="exampleInputTelefono1">Telefono:</label>
            <input type="Telefono" class="form-control" id="exampleInputTelefono1">
        </div> <br>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Tipo Documento</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>CC</option>
                <option>CE</option>
            </select>
        </div> <br>
        <div class="form-group">
            <label for="exampleInputDocumento1">Numero Documento:</label>
            <input type="Documento" class="form-control" id="exampleInputDocumento1">
        </div> <br>
        <fieldset class="form-group row">
            <legend class="col-form-label col-sm-2 float-sm-left pt-0">Metodo Pago</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                        checked>
                    <label class="form-check-label" for="gridRadios1">
                        CREDITO
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                    <label class="form-check-label" for="gridRadios2">
                        DEBITO
                    </label>
                </div>
            </div>
        </fieldset> <br>
        <div class="form-group">
            <label for="exampleInputDocumento1">Nº Tarjeta:</label>
            <input type="password" class="form-control" id="exampleInputDocumento1">
        </div> <br>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Acepto Terminos y Condiciones</label>
        </div> <br>
        <button type="button" class="btn btn-primary btn-lg">Pagar</button>
    </form>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <img src="https://www.infinita.com.co/wp-content/uploads/2020/08/Formas-de-pago_Medios-de-pago-Epayco.png" class="imgMetodoPago">
                
            </div>

        </div>
    </div>
    <br><br><br><br>