<!--Una de las Vistas del Admin-->
<h1 class="titulo">Gestion de Usuario</h1>
<div class="container">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre (Dueño)</th>
                <th scope="col">Mascota</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
    </table>
</div>