<div class="container pt-5 mar">
    <div class="row">
        <div class="col-10 align-self-center">
            <h1 class="text-center">Reservacion De Citas</h1>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Nombre</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Email</span>
                <input type="text" class="form-control" placeholder="Email" aria-label="Email"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Celular</span>
                <input type="text" class="form-control" placeholder="Celular" aria-label="celular"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Nombre Mascota</span>
                <input type="text" class="form-control" placeholder="Nombre Mascota" aria-label="Nombre Mascota"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Edad</span>
                <input type="text" class="form-control" placeholder="edad" aria-label="Edad"
                    aria-describedby="basic-addon1">
            </div> 
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Peso</span>
                <input type="text" class="form-control" placeholder="Peso (gr)" aria-label="peso"
                    aria-describedby="basic-addon1">
            </div>  
            <div class="input-group mb-3 pt-2">
                <span class="input-group-text" id="basic-addon1">Fecha</span>
                <input type="date" class="form-control" aria-label="fecha"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 pt-2">
                <span class="input-group-text" id="basic-addon1">Hora</span>
                <input type="time" class="form-control" aria-label="hora"
                    aria-describedby="basic-addon1">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Motivo de Cita</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <a routerLink="['/']" class="btn btn-lg btn-info btn-responsive btninter right">Agendar</a>
              </div>
              
        </div>
    </div>
</div>

