<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1"><label for="btn-menu">☰ Menu</label></span>
    
  </div>
</nav>




<input type="checkbox" id="btn-menu">
<div class="container-menu">
  <div class="cont-menu">
    <div class="logo">
      <h4 class="text-light font-weight-bold pt-2"> Administrador </h4>
  </div>
    <nav>
      <a [routerLink]="['/vista-admin-gestion-usuarios']">Gestion de Usuarios</a>
      <a [routerLink]="['/vista-admin-gestion-citas']">Gestion de Citas</a>
      <a [routerLink]="['/vista-admin-veterinarios']">Veterinarios</a>
      <a [routerLink]="['/vista-admin-mascotas']">Mascotas</a>
    </nav>
    <label for="btn-menu">✖️</label>
  </div>
</div>