.header{
    text-align: center;
    height:300px;
    padding: 12px;
    background-image: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.avatar{
    width:200px;
    height:200px;
    border-radius: 50%;
}
.tit{
    margin-top:14px;
}


.dts{
    padding: 1em;

}