<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <a class="navbar-brand" href="#">
        <img src="https://www.flaticon.es/svg/vstatic/svg/2105/2105016.svg?token=exp=1616190134~hmac=d4b0bf455f51cc1649278215121f2a16" width="50" height="50" alt="">
      </a>
      <ul class="navbar-nav">
        <li class="nav-item active" >
          <a class="nav-link" [routerLink]="['/']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#acerca">Acerca de nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#vision">Visión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/productos']">Productos</a>
        </li>
      </ul>

    </div>
  </nav>
