.nav-item .nav-link{
    color: white;
    font-size: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
nav ul{
    list-style: none;
    margin: 0;                                     
    padding:0;
    

}
nav ul li{
    float: right;
     
}


nav.navbar {
    background-color: #000000 !important;
}