<!--Una de las Vistas del Admin-->
<h1 class="titulo">Gestion de Citas</h1>
<div class="container">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Veterinario</th>
                <th scope="col">Paciente</th>
                <th scope="col">Dueño</th>
                <th scope="col">Motivo</th>
                <th scope="col">Hora Inicio</th>
                <th scope="col">Hora Final</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let agenda of agendas">
                <th scope="row">{{ agenda.id_agenda }}</th>
                <td>{{ agenda.veterinario.nombre }} {{ agenda.veterinario.apellido}}</td>
                <td>{{ agenda.mascota.nombre }}</td>
                <td>{{ agenda.usuario.nombre }} {{ agenda.usuario.apellido }}</td>
                <td>{{ agenda.motivo }}</td>
                <td>{{ agenda.fecha_inicio | date:"short" }}</td>
                <td>{{ agenda.fecha_final | date:"short"}}</td>
            </tr>
    </table>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>