<div class="container">
    <div class="card">
        <figure>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.295864793884!2d-75.6684407013386!3d4.540665135473862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e38f5aaa70689d1%3A0x46074d66ee20f3a2!2sSENA%20Centro%20de%20comercio%20y%20turismo!5e0!3m2!1ses!2sco!4v1630719015174!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </figure>
        <div class="contenido titulo">
            <h3>Dirección</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit animi numquam cum ex doloribus natus dignissimos consequuntur nostrum laborum rem.</p>
            <a href="#">Leer más</a>
        </div>
    </div>

    <div class="card titulo">
        <a name="vision"></a>
        <figure>
            <img src="https://images.pexels.com/photos/7469212/pexels-photo-7469212.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="#Vision">
        </figure>
        <div class="contenido">
            <h3>Visión</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit animi numquam cum ex doloribus natus dignissimos consequuntur nostrum laborum rem.</p>
            <a href="#">Leer más</a>
        </div>
    </div>

</div>

     