<div class="container">
    <div class="card">
        <figure>
            <img src="https://t2.ea.ltmcdn.com/es/places/6/7/0/img_7076_clinica-veterinaria-san-bernardo_0_orig.jpg" alt="">
        </figure>
        <div class="contenido titulo">
            <h3>Dirección</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit animi numquam cum ex doloribus natus dignissimos consequuntur nostrum laborum rem.</p>
            <a href="#">Leer más</a>
        </div>
    </div>

    <div class="card titulo">
        <a name="vision"></a>
        <figure>
            <img src="https://thumbs.dreamstime.com/z/en-la-visi%C3%B3n-enfocada-el-veterinario-de-sexo-femenino-prepara-jeringuilla-para-vacunar-111646359.jpg" alt="#Vision">
        </figure>
        <div class="contenido">
            <h3>Visión</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit animi numquam cum ex doloribus natus dignissimos consequuntur nostrum laborum rem.</p>
            <a href="#">Leer más</a>
        </div>
    </div>

</div>

     