<div class="container">
  <div id="carouselExampleDark" class="carousel carousel-dark slide pt-2" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1000">
        <img src="../../../assets/img/carr-vete.jpg" 
            class="d-block" alt="..." height=500px width=100%>
        <div class="carousel-caption d-none d-md-block">
          <h1 class="titulo">Veterinaria Conectada</h1>
          <p class="titulo h5">En compañia con tus mascotas</p>
        </div>
</div>
</div>


