
<div class="container">
    <div *ngIf="agendas.length === 0" class="card p-2">
        <h6>No hay agendas disponibles por hoy</h6>
    </div>
    <h1>Agendas disponibles</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4  pt-3">
        <tr *ngFor="let agenda of agendas">
        <div class="col">
            <div class="card border-info" style="width: 18rem;" *ngIf="agenda.mascota == null">
                <li class="list-group-item border-info">{{ agenda.nombre }} </li>
                <img src="../../../assets/img/logo.png" class="card-img-top" alt="...">
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Veterinario: {{ agenda.veterinario.nombre }} {{ agenda.veterinario.apellido }} </li>
                    <li class="list-group-item">Fecha: {{ agenda.fecha_inicio | date:"short" }}</li>
                    <li class="list-group-item text-center"><button (click)="pushAgenda(agenda.id_agenda)" type="button" class="btn btn-info">Tomar Cita</button></li>
                </ul>
            </div>
</div>
    </tr>
    </div>
</div>

<br><br><br><br>