<!---vista usuario-->
<!--2 -->
<nav class="navbar navbar-light bg-light text-center">
    <div class="container">
        <a class="navbar-brand fw-bold a">
            <p class="text-center p">
                TODOS LOS ANIMALES TIENEN DERECHO A LA
                ATENCION,A LOS CUIDADOS <br> Y A LA PROTECCION DEL HOMBRE
                .</p>
        </a>
    </div>
</nav>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4  pt-3">

        <div class="col">
            <div class="card" style="width: 18rem;">
                <li class="list-group-item">AGENDA 1 </li>
                <img src="../../../assets/img/logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Descripcion</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Veterinario: </li>
                    <li class="list-group-item">Hora Inicio (time)</li>
                    <li class="list-group-item">(Diponibilidad)</li>
                    <li class="list-group-item">Tomar Cita</li>
                </ul>
            </div>
        </div>


        <div class="col">
            <div class="card" style="width: 18rem;">
                <li class="list-group-item">AGENDA 2 </li>
                <img src="../../../assets/img/logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Descripcion</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Veterinario: </li>
                    <li class="list-group-item">Hora Inicio (time)</li>
                    <li class="list-group-item">(Diponibilidad)</li>
                    <li class="list-group-item">Tomar Cita</li>
                </ul>
            </div>
        </div>


        <div class="col">
            <div class="card" style="width: 18rem;">
                <li class="list-group-item">AGENDA 3</li>
                <img src="../../../assets/img/logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Descripcion</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Veterinario: </li>
                    <li class="list-group-item">Hora Inicio (time)</li>
                    <li class="list-group-item">(Diponibilidad)</li>
                    <li class="list-group-item">Tomar Cita</li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="pt-5"></div>